<!doctype html>
<html>

<head>
    <link rel="icon"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        async function callback(endpoint, data) {
            let response = await fetch("/callback/" + endpoint + "?data=" + data);
            if (response.ok) {
                let json = await response.json();
                if (endpoint == "getStock") {
                    Plotly.newPlot('chart', json, {});
                    //response = await fetch("/callback/getInfo?data=" + data);
                    //json = await response.json();
                    //info(json);
                }
            } else {
                alert("HTTP-Error: " + response.status);
            }
        }
        function info(json) {
            //let name = document.getElementById('companyName');
            //name.innerHTML = json.shortName;
        }
        function buildList(options, listId) {
            var s = document.getElementById(listId);

            for (var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.text = opt;
                el.value = opt;
                s.add(el);
            }
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>Finance</h1>
    <h3>Choose your stock code from the drop down list, below</h3>
    <select id='stock' onchange="callback('getStock',this.value)">
        <option value="MSFT">Microsoft</option>
        <option value="FB">Facebook</option>
        <option value="AAPL">Apple</option>
        <option value="GOOGL">Google</option>
    </select>
    <h2 id="companyName"></h2>
    <div id="chart" class="chart" style="border: 1px solid;padding:10px;  box-shadow: 5px 5px 4px #888888;"></div>

</body>
<script>


</script>

</html>